package ${package}.entity;

import com.baomidou.mybatisplus.annotation.TableField;
import com.baomidou.mybatisplus.annotation.TableName;
import lombok.Data;
import lombok.EqualsAndHashCode;
import com.snykta.tools.web.entity.BaseEntity;
import com.baomidou.mybatisplus.annotation.IdType;
import com.baomidou.mybatisplus.annotation.TableId;


#if(${hasBigDecimal})
import java.math.BigDecimal;
#end
import java.util.Date;

/**
 * ${comments}
 *
 * 表结构实体类
 *
 * @author ${author}
 * @date ${date}
 */
@EqualsAndHashCode(callSuper = true)
@Data
@TableName("${tableName}")
public class ${className}Entity extends BaseEntity {

#foreach ($column in $columns)
    /**
     * $column.comments
     */
#if($column.pkFlag)
    @TableId(value = "$column.columnName", type = IdType.ASSIGN_ID)
#else
    @TableField("$column.columnName")
#end
    private $column.attrType $column.attrNameSmall;

#end
}