package ${package}.service.impl;


import ${package}.mapper.${className}Mapper;
import ${package}.dto.${className}Dto;
import ${package}.entity.${className}Entity;
import ${package}.service.I${className}Service;
import org.springframework.stereotype.Service;
import org.springframework.transaction.annotation.Transactional;
import com.snykta.basic.web.web.service.BaseService;
import java.util.Map;
import lombok.extern.slf4j.Slf4j;

/**
 * ${comments}
 *
 * 1、禁止删除 @Transactional(readOnly = true)！！！！增删改的方法上必须加上 @Transactional(rollbackFor = Exception.class)否则将操作失败！！！
 * 2、禁止继承或者实现mybatisPlus自带的crud基类service
 * 3、所有crud操作下沉到Mapper层，service只关心业务
 *
 *
 * @author ${author}
 * @since ${date}
 */
@Slf4j
@Service("${classNameSmall}Service")
@Transactional(readOnly = true)
public class ${className}ServiceImpl extends BaseService implements I${className}Service {

    private final ${className}Mapper ${classNameSmall}Mapper;

    public ${className}ServiceImpl(${className}Mapper ${classNameSmall}Mapper) {
        this.${classNameSmall}Mapper = ${classNameSmall}Mapper;
    }



}